// Colors
$color-default: #222222;
$color-primary: #f32556;
$color-secondary: #24b47e;
$color-tertiary: #6772e5;
$color-quarternary: #fa7459;
$color-quinary: #9b67e5;

// Grays
$color-gray-100: #f1f2f3;
$color-gray-200: #f6f9fc;
$color-gray-300: #dde0e2;

// Whites
$color-white: #fff;
$color-white-100: #fcfaff;
$color-white-200: #fbfbfb;
$color-white-300: #fefefe;

// Blacks
$color-black: #000;
$color-black-100: #1f262a;
$color-black-200: #222222;
$color-black-300: #333333;

// Gradients
//$color-gradient: ;
