// Buttons
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    &.left {
        justify-content: flex-start;
    }
    &.center {
        justify-content: center;
    }
    &.right {
        justify-content: flex-end;
    }

    .button:not(:only-child) {
        margin-right: 1em;

        @include bp(s) {
            margin-right: 0;
            margin-bottom: 1em;
        }
    }
}

.button {

    a,
    button&,
    input[type="submit"]& {
        display: inline-flex;
        padding: 0.875em 1.25em;
        font-size: 1.125rem;
        font-weight: 500;
        color: $color-white;
        background-color: $color-primary;
        border-radius: 0.25em;
        transition: $transition-100;

            // User Agent Styling Fixes
            text-decoration: none;
            user-select: none;
            cursor: pointer;


        &:hover,
        &:focus {
            transform: translateY(-1px);
            background-color: lighten($color-primary, 15%);
            box-shadow: $box-shadow-100;
        }
    }

    a.-secondary,
    button&.-secondary,
    input[type="submit"]&.-secondary {
        background-color: $color-secondary;

        &:hover,
        &:focus {
            background-color: lighten($color-secondary, 15%);
        }
    }

    a.-tertiary,
    button&.-tertiary,
    input[type="submit"]&.-tertiary {
        background-color: $color-tertiary;

        &:hover,
        &:focus {
            background-color: lighten($color-tertiary, 15%);
        }
    }

    i,
    svg {
        margin: 0 0.5em;
    }

}
