// Webfontloader (to prevent FOUT)
html[lang="en"] {
    opacity: 0;
    filter: grayscale(100%);

    &.wf-loading {
        opacity: 0;
        filter: grayscale(100%);
        transition: opacity 250ms ease-out, filter 500ms ease;
    }

    &.wf-active, &.wf-inactive {
        opacity: 1;
        filter: none;
        transition: opacity 250ms ease-out, filter 500ms ease;
    }
}
